.player {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
}

.profile-image {
    width: 4.5rem;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid rgb(207, 229, 252);
    box-shadow: 0 0 3px 2px rgb(250, 253, 104);
}


.roulette-actions.hideElementsTest {
    ul {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        position: relative;
        top: 50%;
        left: 50%;
        list-style-type: none;
        transform: translate(-50%, -50%);
    }

    ul li.board-chip {
        list-style: none;
        margin: 0 15px;
        display: block;
    }

    ul li.board-chip div {
        position: relative;
        display: block;
        width: 60px;
        height: 60px;
        text-align: center;
        line-height: 63px;
        background: #333;
        border-radius: 50%;
        font-size: 18px;
        color: #ffff;
        transition: .5s;

    }

    ul li div::before {
        content: '';
    }

    ul li.board-chip div::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: #ffee10;
        transition: .5s;
        transform: scale(.9);
        z-index: -1;
    }

    ul li.board-chip div:hover::before {
        transform: scale(1.1);
        box-shadow: 0 0 15px #ffee10;
    }

    ul li.board-chip div:hover {
        color: #ffee10;
        box-shadow: 0 0 5px #ffee10;
        text-shadow: 0 0 5px #ffee10;
    }

    ul li.board-chip div.chip_selected {
        color: #ffee10;
        box-shadow: 0 0 20px #ffee10;
        text-shadow: 0 0 5px #ffee10;
    }

    ul li.board-chip div.chip-100 {
        background: url('../../assets/chip_black.png') no-repeat;
        background-size: 60px 60px;
    }

    ul li.board-chip div.chip-20 {
        background: url('../../assets/chip_blue.png') no-repeat;
        background-size: 60px 60px;
    }

    ul li.board-chip div.chip-10 {
        background: url('../../assets/chip_orange.png') no-repeat;
        background-size: 60px 60px;
    }

    ul li.board-chip div.chip-5 {
        background: url('../../assets/chip_purple.png') no-repeat;
        background-size: 60px 60px;
    }
}

.display-content {
    display: flex;
    justify-content: center;
    position: relative;
}

.display-player {
    width: 'fit-content';
}

.display-player-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}